{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}
{%block stylesheets%}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('CSS/base.css') }}">
{%endblock%}
{% block body %}

    {%if app.user%}

        <div class="coco1">

             <h2>Modifier mon profil</h2>
        </div>
            <br>
        <div class="pro">
        <img src="{{ asset('uploads/brochures/' ~ user.brochureFilename())}}" alt="Image de profil">
            {{ form_start(editProfilForm) }}


            {{ form_errors(editProfilForm) }}
            <div class="coco " >
               {{ form_label(editProfilForm.username)}}
                {{ form_widget(editProfilForm.username)}}
            </div>
            <div class="coco">
            {{ form_row(editProfilForm.firstname)}}
            </div>
            <div class="coco">
            {{ form_row(editProfilForm.name)}}
            </div>
            <div class="coco">
            {{ form_row(editProfilForm.phone)}}
            </div>
            <div class="coco">
             {{ form_row(editProfilForm.email)}}
            </div>
            <div class="coco">
            {{ form_row(editProfilForm.password)}}
            </div>

            <div class="coco">
            {{ form_row(editProfilForm.campus)}}
            </div>
            <div class="coco2" >
            {{ form_row(editProfilForm.brochure)}}
            </div>

             <div id="id1">
             {{ form_row(editProfilForm.save)}}
             </div>
            <div id="id2">
            <a href="{{path('index')}}"><button>Annuler</button></a>
            </div>
        {{ form_end(editProfilForm) }}

        {%else %}
            <h2 class="para">La consultation de profil nécessite une connexion à votre compte</h2>

            <p class="para">Cliquez sur "x" pour fermer le message</p>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';"><a href="{{ path('app_login') }}">&times;</a></span>
                <strong>Interdit ! </strong>Accès non autorisé.
            </div>
            </div>
    {%endif%}

{% endblock %}
