{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Homepage{% endblock %}

{% block body %}

    {%if app.user%}
        <p>Date du jour : {{date('now')|date("d/m/Y")}}</p>
        <p>Participant : {{app.user.userIdentifier}}</p>

    {%endif%}

    <section>
        <h2>Filtrer les sorties</h2>



        {{form_start(searchForm)}}

        {{form_label(searchForm.participantCampus)}}
        {{form_widget(searchForm.participantCampus)}}
        {{form_errors(searchForm.participantCampus)}}
        <br>
        {{form_label(searchForm.nameKeyword)}}
        {{form_widget(searchForm.nameKeyword)}}
        {{form_errors(searchForm.nameKeyword)}}
        <br>
        {{form_label(searchForm.minDateTimeBeginning)}}
        {{form_widget(searchForm.minDateTimeBeginning)}}
        {{form_errors(searchForm.minDateTimeBeginning)}}
        <br>
        {{form_label(searchForm.maxDateTimeBeginning)}}
        {{form_widget(searchForm.maxDateTimeBeginning)}}
        {{form_errors(searchForm.maxDateTimeBeginning)}}
        <br>

        {{form_label(searchForm.filterActiOrganized)}}
        {{form_widget(searchForm.filterActiOrganized)}}
        {{form_errors(searchForm.filterActiOrganized)}}
        <br>
        {{form_label(searchForm.filterActiJoined)}}
        {{form_widget(searchForm.filterActiJoined)}}
        {{form_errors(searchForm.filterActiJoined)}}
        <br>
        {{form_label(searchForm.filterActiNotJoined)}}
        {{form_widget(searchForm.filterActiNotJoined)}}
        {{form_errors(searchForm.filterActiNotJoined)}}
        <br>
        {{form_label(searchForm.filterActiEnded)}}
        {{form_widget(searchForm.filterActiEnded)}}
        {{form_errors(searchForm.filterActiEnded)}}
        <br>
{#        <button type="submit" name="searchButton" >Rechercher</button>#}
        {{form_label(searchForm.save)}}
        {{form_widget(searchForm.save)}}
        {{form_end(searchForm)}}
    </section>
    <div class="flashMessages">
        {%for label,messages in app.flashes%}
            {%for message in messages%}
                <div class="alert-{{label}}">
                    {{message}}
                </div>

            {%endfor%}
        {%endfor%}
    </div>
    {%if searchButton != false%}

        <table>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>

            {%for activity in lstActivities%}
                {%if activity.state.wording != 'Activity archived'%}
{#                    {%if app.user != activity.organizer and activity.state.wording != 'Activity created'%}#}
                <tr>
                    <td>{{activity.name}}</td>
                    <td>{{activity.dateTimeBeginning|date("d/m/Y H:i:s")}}</td>
                    <td>{{activity.dateLimitRegistration|date("d/m/Y")}}</td>
                    <td>{{activity.participants|length}} / {{activity.maxNbRegistrations}}</td>
                    <td>{{activity.state.wording}}</td>
                    <td>{%if app.user in activity.participants%}X{%endif%}</td>
                    <td><a href="{{path('participant_detail', {'user':activity.organizer.id})}}">{{activity.organizer.username}}</a></td>
                    <td>
                        {#Action Afficher#}
                        {%if activity.state.wording != 'Activity created'%}<button><a href="{{path('displayActivity_display', {'activity':activity.id})}}">Afficher</a></button> {%endif%}
                        {#Action Se désister#}
                        {%if (app.user in activity.participants) and (app.user != activity.organizer)%}<button><a href="{{path('desist', {'activity':activity.id})}}">Se désister</a></button>{%endif%}
                        {#Action S'inscrire#}
                        {%if app.user not in activity.participants and activity.state.wording == 'Activity opened'%}<button><a href="{{path('join', {'activity':activity.id})}}">S'inscrire</a></button>{%endif%}

                        {#Action Modifier + Publier#}
                        {%if activity.state.wording == 'Activity created'%}<button><a href="{{path('change_activity_edit', {'activity':activity.id})}}">Modifier</a></button>
                            <button><a href="{{path('publish', {'activity':activity.id})}}">Publier</a></button>{%endif%}
                {%if activity.state.wording == 'Activity opened' and app.user == activity.organizer%}<button><a href="#">Annuler</a></button>{%endif%}
                    </td>
                </tr>
{#                        {%endif%}#}
                {%endif%}
            {%endfor%}
        </table>


    {%endif%}
    <button><a href="{{path('activity')}}">Créer une sortie</a></button>
{% endblock %}
