{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Homepage{% endblock %}
{%block stylesheets%}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('CSS/base.css') }}">
{%endblock%}
{% block body %}

    {%if app.user%}

            <div class="">
                <p class="divh ">Date du jour : {{date('now')|date("d/m/Y")}}</p>
            </div>
            <div class="">
                <p class="divh ">Participant : {{app.user.userIdentifier}}</p>
            </div>


    {%endif%}

    <section class="container">
        <div class="divh">
        <h4>Filtrer les sorties</h4>
        </div>


        {{form_start(searchForm)}}
        <div class="dis">

            <div class="container">
            <div class="row participantCampus">
        <div class="offset-1 col-3 indexLabel">
        {{form_label(searchForm.participantCampus)}}
        </div>
                <div class="offset-1 col-5">
        {{form_widget(searchForm.participantCampus)}}
                </div>
        {{form_errors(searchForm.participantCampus)}}
        </div>

            <div class="row">
                <div class="offset-1 col-3 indexLabel">
        {{form_label(searchForm.nameKeyword)}}
                </div>
                <div class="offset-1 col-5">
        {{form_widget(searchForm.nameKeyword)}}
                </div>
        {{form_errors(searchForm.nameKeyword)}}
            </div>


            <div class="row minDateTimeBeginning">
                <div class="offset-1 col-3 indexLabel">
        {{form_label(searchForm.minDateTimeBeginning)}}
                </div>
                <div class="offset-1 col-5">
        {{form_widget(searchForm.minDateTimeBeginning)}}
            </div>
        {{form_errors(searchForm.minDateTimeBeginning)}}
            </div>

            <div class="row maxDateTimeBeginning">
                <div class="offset-1 col-3  indexLabel">
        {{form_label(searchForm.maxDateTimeBeginning)}}
            </div>
                <div class="offset-1 col-5">
        {{form_widget(searchForm.maxDateTimeBeginning)}}
        </div>
        {{form_errors(searchForm.maxDateTimeBeginning)}}
            </div>
            </div>
<div class="container">
                <div class="row">
                    <div class="offset-1 col-3 indexLabel">
        {{form_label(searchForm.filterActiOrganized)}}
                    </div>
                    <div class="offset-1 col-5">
        {{form_widget(searchForm.filterActiOrganized)}}
                    </div>
        {{form_errors(searchForm.filterActiOrganized)}}
                </div>
                    <div class="row">
                        <div class="offset-1 col-3 indexLabel">
        {{form_label(searchForm.filterActiJoined)}}
                        </div>
                        <div class="offset-1 col-5">
        {{form_widget(searchForm.filterActiJoined)}}
                        </div>
        {{form_errors(searchForm.filterActiJoined)}}
                    </div>
                <div class="row">
                    <div class="offset-1 col-3 indexLabel">
        {{form_label(searchForm.filterActiNotJoined)}}
                    </div>
                    <div class="offset-1 col-5">
        {{form_widget(searchForm.filterActiNotJoined)}}
                    </div>
        {{form_errors(searchForm.filterActiNotJoined)}}
                </div>
                <div class="row">
                    <div class="offset-1 col-3 indexLabel">
        {{form_label(searchForm.filterActiEnded)}}
                    </div>
                    <div class="offset-1 col-5">
        {{form_widget(searchForm.filterActiEnded)}}
                    </div>
        {{form_errors(searchForm.filterActiEnded)}}
                </div>
</div>

</div>

        <div class="dis">
        <br>
        <div typeof="submit" >

        {{form_label(searchForm.save)}}
        {{form_widget(searchForm.save)}}
        </div>

        {{form_end(searchForm)}}

    </section>
    <div class="flashMessages">
        {%for label,messages in app.flashes%}
            {%for message in messages%}
                <div class="alert-{{label}}">
                    {{message}}
                </div>

            {%endfor%}
        {%endfor%}
    </div>
    {%if searchButton != false%}

        {%if lstActivities == null%}
            <p class="alert">Pas de sorties liées à la recherche</p>
        {%endif%}
        <table class="tab1">
            <thead>
            <tr id="idtab">
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
<tbody>
            {%for activity in lstActivities%}
                {%if activity.state.wording != 'Activity archived'%}

                <tr>
                    <td>{{activity.name}}</td>
                    <td>{{activity.dateTimeBeginning|date("d/m/Y H:i:s")}}</td>
                    <td>{{activity.dateLimitRegistration|date("d/m/Y")}}</td>
                    <td>{{activity.participants|length}} / {{activity.maxNbRegistrations}}</td>
                    <td>{{activity.state.wording}}</td>
                    <td>{%if app.user in activity.participants%}X{%endif%}</td>
                    <td><a  class="show" href="{{path('participant_detail', {'user':activity.organizer.id})}}">{{activity.organizer.username}}</a></td>
                    <td>
                        {#Action Afficher#}
                        {%if activity.state.wording != 'Activity created'%}<button class="show"><a href="{{path('displayActivity_display', {'activity':activity.id})}}">Afficher</a></button> {%endif%}
                        {#Action Se désister#}
                        {%if (app.user in activity.participants) and (app.user != activity.organizer)%}<button  class="show"><a href="{{path('desist', {'activity':activity.id})}}">Se désister</a></button>{%endif%}
                        {#Action S'inscrire#}
                        {%if app.user not in activity.participants and activity.state.wording == 'Activity opened'%}<button  class="show"><a href="{{path('join', {'activity':activity.id})}}">S'inscrire</a></button>{%endif%}

                        {#Action Modifier + Publier#}
                        {%if activity.state.wording == 'Activity created'%}<button  class="show"><a href="{{path('change_activity_edit', {'activity':activity.id})}}">Modifier</a></button>
                            <button  class="show"><a href="{{path('publish', {'activity':activity.id})}}">Publier</a></button>{%endif%}
                {%if activity.state.wording == 'Activity opened' and app.user == activity.organizer%}<button  class="show"><a href="{{path('cancel', {'activity':activity.id})}}">Annuler</a></button>{%endif%}
                    </td>
                </tr>

                {%endif%}
            {%endfor%}
</tbody>
        </table>
        <br>
    {%endif%}

    <button class="btnAct"><a href="{{path('activity')}}" id="">Créer une sortie</a></button>

</div>
{% endblock %}
