{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Créer un lieu{% endblock %}
{%block stylesheets%}
    <link rel="stylesheet" href="{{ asset('CSS/base.css') }}">
{%endblock%}
{% block body %}
    <section class="container-fluid" style="color: #dfdfdf">

    {{form_start(placeCreationForm)}}

    <div class="row">
        <div class="offset-3 col-3">
    {{form_label(placeCreationForm.name)}}
        </div>
        <div class="offset-1 col-3">
    {{form_widget(placeCreationForm.name)}}
    </div>
    {{form_errors(placeCreationForm.name)}}
    </div>

    <br>
        <div class="row">
            <div class="offset-3 col-3">
    {{form_label(placeCreationForm.street)}}
            </div>
            <div class="offset-1 col-3">
    {{form_widget(placeCreationForm.street)}}
            </div>
    {{form_errors(placeCreationForm.street)}}
        </div>
    <br>
        <div class="row">
            <div class="offset-3 col-3">
    {{form_label(placeCreationForm.latitude)}}
            </div>
            <div class="offset-1 col-3">
    {{form_widget(placeCreationForm.latitude)}}
            </div>
    {{form_errors(placeCreationForm.latitude)}}
        </div>
    <br>
        <div class="row">
            <div class="offset-3 col-3">
    {{form_label(placeCreationForm.longitude)}}
            </div>
            <div class="offset-1 col-3">
    {{form_widget(placeCreationForm.longitude)}}
            </div>
    {{form_errors(placeCreationForm.longitude)}}
        </div>
    <br>
        <div class="row">
            <div class="offset-3 col-3">
    {{form_label(placeCreationForm.city)}}
            </div>
            <div class="offset-1 col-3">
    {{form_widget(placeCreationForm.city)}}
            </div>
    {{form_errors(placeCreationForm.city)}}
        </div>
    <br>
        <div class="row">
            <div class="dis">
    {{form_label(placeCreationForm.save)}}
    {{form_widget(placeCreationForm.save)}}
            </div>
    {{form_end(placeCreationForm)}}
        </div>

    </section>
{% endblock %}
